version: '3.8'

services:
  caddy:
    build:
      context: ./frontend
      dockerfile: Dockerfile.caddy
    container_name: focustime_caddy
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

  backend:
    container_name: focustime_backend
    build:
      context: ./backend
    restart: unless-stopped
    expose:
      - '3000'
    environment:
      - NODE_ENV=production
      - PORT=3000

volumes:
  caddy_data:
  caddy_config:
